<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= text_field_tag :email, params[:email], :placeholder => "Email" %>
  </p>
  <p>
    <%= password_field_tag :password, nil, :placeholder => "Password" %>
  </p>
  <%= button_tag(type: "submit", :class => "btn") do %>
    Log in
  <% end %>
<% end %>

